<div class="container-homepage">
  <%= render 'navbar' %>
  <a href="#homepage"></a>
  <header class="full-page-banner background-homepage" >
    <h1 class="white">Le collectif d'entraide féminine dans la tech</h1>
    <p>Une communauté bienveillante dans laquelle affirmer son projet, progresser et échanger, sans bullshit</p>
    <p><%= link_to "nous contacter", "#nous-contacter" %></p>
    <%= link_to "#qui-nous-sommes" do %>
      <i class="fas fa-angle-down scroll-down"></i>
      <!-- <div class="down-arrow">
        <div class="band left"></div>
        <div class="band right"></div>
      </div> -->
    <% end %>
  </header>

  <a name="qui-nous-sommes"></a>
  <div class="banner-full background-homepage-2">
    <div class="banner-content width-70">
      <!-- <div class="width-70"> -->
        <div class="banner-title">
          <h3>Qui nous sommes</h3>
          <div class="underline yellow"></div>
        </div>
        <p>Coda Libre est un collectif de femmes dont l'ambition est d’offrir un cadre bienveillant permettant à chacune de valoriser ses expériences et approfondir ses connaissances dans les métiers du numérique.</p>

        <p>Nous sommes une communauté dans laquelle chacune peut affirmer son projet, chercher du soutien, progresser et partager ses expériences.</p>
        <p>Notre volonté est d’aider les femmes à surpasser les biais qui peuvent exister dans la tech, à travers des actions concrètes.
        Au travers de mentorat pour partager son parcours, de masterclasses inspirantes pour compléter ses compétences ou de projets concrets et pro-bono pour consolider ses acquis, nous voulons faire de Coda Libre une communauté féminine ouverte, ambitieuse et sans faux-semblants.</p>
        <p>Oui, c’est plus dur pour les femmes. Non, ce n’est pas une fatalité. Et non, Instagram et les médias sociaux ne reflètent pas la vraie vie! #nobullshit</p>

        <p>Vous avez appris à coder et vous ne voulez pas gravir seule la montagne devant vous ? Vous travaillez dans les métiers du numérique et avez des compétences à partager ?
        Vous vous reconnaissez dans notre projet et souhaitez nous aider?
        </p>
      </div>
      <%= link_to "Contactez-nous !", "#contactez-nous" %>
      <%= link_to "#nos-actions" do %>
        <i class="fas fa-angle-down scroll-down under-text-arrow"></i>
      <% end %>
  </div>



  <a name="nos-actions"></a>
  <div class="banner-full background-homepage-2">
    <div class="banner-content">
      <!-- <div class="width-70"> -->
        <div class="banner-title">
          <h3>Nos actions</h3>
          <div class="underline yellow"></div>
        </div>
        <div class="flex">
          <div class="text-center">
            <img src="" alt="">
            <h2>MENTORAT</h2>
            <p>Nous croyons au partage d'expérience pour progresser. Chaque membre peut être mentorée par une femme dont le parcours peut l'inspirer. Une relation régulière se met en place, afin d'enrichir chacune. </p>
          </div>
          <div class="text-center">
            <img src="" alt="">
            <h2>MASTERCLASSES</h2>
            <p>Nous avons toutes soif d'apprendre, développer de nouvelles compétences ou consolider nos acquis. Chaque mois, nous organisons des interventions pratiques ou inspirantes, pour constamment progresser, échanger, s'enrichir.</p>
            <%= link_to "Nos évènements", "#" %>
          </div>
          <div class="text-center">
            <img src="" alt="">
            <h2>PROJET PRO-BONO</h2>
            <p>Issues de formations courtes (bootcamps tech), nous voulons pouvoir consolider nos acquis, tout en donnant un sens à nos projets. Nous mettons en place des partenariats avec des associations afin de les aider à développer leur présence numérique.</p>
            <%= link_to "Nos projets", "#{}" %>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <%= link_to "#nous-contacter" do %>
      <i class="fas fa-angle-down scroll-down under-text-arrow"></i>
    <% end %>
  </div>

  <a name="nous-contacter"></a>
  <div class="banner-full background-homepage-3">
    <div class="banner-content width-70">
      <!-- <div class="width-70"> -->
        <div class="banner-title">
          <h3>Nous contacter</h3>
          <div class="underline pink"></div>
        </div>

        <!-- membres -->
      <!-- </div> -->
    </div>
  </div>
</div>



<!-- style="background-image: linear-gradient(160deg, rgba(42, 71, 97,0.7) 40%, rgba(122, 122, 122,0.3) 80%), url(<%#= image_path("banner-image.jpg") %>);" -->
